PORT=3000
FRONTEND_URL=http://localhost:5173

# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=http://localhost:3000/api/auth/discord/callback

# Weather API (OpenWeather)
WEATHER_API_KEY=

# Express Session keys
SESSION_SECRET=supersecretorsomethinglikethat
